nav ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

[aria-current="page"]::before {
    content: "["
}

[aria-current="page"]::after {
    content: "]"
}