<ul>
    <li {% if page.url == "/" %} aria-current="page"{% endif %}>
        <a href="/">🏠 Home</a>
    </li>
    <li {% if page.url == "/README/" %} aria-current="page"{% endif %}>
        <a href="/README/">🙋🏻 About Me</a>
    </li>
    <li {% if page.url == "/TIL/" %} aria-current="page"{% endif %}>
        <a href="/TIL/">📝 Learnings</a>
    </li>
</ul>